@model List<DOANCUOIKY.Models.Product>

@{
    ViewBag.Title = "Docle Level ⚜ Đồ hiệu cao cấp";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container text-center" style="margin-top:10px">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <video autoplay="" allow="autoplay" loop="" muted="muted" playsinline="" style="width: 100%"><source src="https://thombrownevn.com/wp-content/uploads/2020/06/1813487637.mp4"></video>

    </div>
</div>
<div class="container text-center">
    <p style="margin-top: 30px; font-size:25px; font-family: fontThanhHai; font-weight: 600; border-bottom-width: 30px; border-bottom:1px solid gray">
        SẢN PHẨM NỔI BẬT
    </p>


    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {

                <div class="col" style="height:46vh">
                    <div class="card" style="width: 15rem;border:none">

                        <div class="card-body" style="width:100%; height:27vh">
                            <img src="~/Content/Images/products/@item.Image1" class="card-img-top" alt="..." style="width: 70%;height:20vh">

                            <h5 class="card-title" style="width: 100%; height: 10vh; font-family: fontThanhHai">
                                @item.NameProduct
                            </h5>
                            <p class="card-text">@item.Price.Value.ToString("C")</p>
                            <a href="/Products/Detail/@item.ProductID" class="btn btn-secondary">XEM CHI TIẾT</a>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="swiper-pagination " style=" padding-top:30px"></div>

    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            freeMode: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

    <p style="margin-top: 30px; font-size: 25px; font-family: fontThanhHai; font-weight: 600; border-bottom-width: 30px; border-bottom: 1px solid gray">
        FEEDBACK SẢN PHẨM
    </p>

    <div class="container text-center" style="margin-top:10px">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <img class="d-block w-100 h-100" src="~/Content/Images/feedback/fb1.png" alt="Leopard">
            </div>
            <div class="col">
                <img class="d-block w-100 h-100" src="~/Content/Images/feedback/fb2.png" alt="Cat">
            </div>
            <div class="col">
                <img class="d-block w-100 h-100" src="~/Content/Images/feedback/fb3.png" alt="Lion">
            </div>
            <div class="col">
                <img class="d-block w-100 h-100" src="~/Content/Images/feedback/fb4.png" alt="Lion">
            </div>

        </div>
    </div>
</div>

<div class="container" style="margin-top:30px">
    <img class="w-100" src="~/Content/Images/bg-footer.png" />
</div>

<div class="container text-center" style="margin-top:70px">
    <div class="row row-cols-auto d-flex justify-content-center align-items-center">
        <div class="col">
            <img src="~/Content/Images/gucci.png" />
        </div>
        <div class="col">
            <img src="~/Content/Images/balen.png" />
        </div>
        <div class="col">
            <img src="~/Content/Images/throw.png" />
        </div>
        <div class="col">
            <img src="~/Content/Images/lv.png" />
        </div>
    </div>
</div>
