
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <img src="~/Content/Images/bg10.png" class="card-img-top" alt="..." style="width: 100%;">

        </div>
        <div class="col text-start">
            <h1> DOCLE LEVEL SHOP - SINCE 2022</h1> <br />
            <p>
                Với niềm tin luôn mang đến những sản phẩm với chất lượng tốt nhất
            </p>

            <p>
                Và sự tinh tế trong từng sản phẩm mà chúng tôi mang lại<br />
            </p>

            <p>
                Sẽ đáp ứng được trải nghiệm nhu cầu mua sắm của tất cả quý khách hàng<br />
            </p>

            <p>Founder : Nguyễn Thanh Hải | 2001207201</p>
        </div>
    </div>
</div>

