
@model List<DOANCUOIKY.Models.Product>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<nav aria-label="breadcrumb" style="width: 100%; background-color: #f5f5f5; height:fit-content;padding:10px; display:flex;justify-content:start; align-items:center">
    <ol class="breadcrumb container">
        <li class="breadcrumb-item"><a style="text-decoration:none;color:black" href="~/Home/Index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Thời trang cao cấp</li>
    </ol>
</nav>



<div class="container text-start" style="width:100%;height:100vh; margin-bottom:10vh">
    <div class="container">
        <div class="row ">
            <div class="col-4">
                <form id="search" class="d-flex mt-2 " style="width:26vh" action="/Products/Index">
                    <input class="form-control me-2"
                           id="search"
                           type="search"
                           name="search"
                           placeholder="Tìm sản phẩm"
                           value="@ViewBag.Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <h3 style="font-family: fontThanhHai;margin-top:20px">Sắp xếp sản phẩm</h3>
                <div style="display:flex;flex-direction:column; justify-content:center">
                    <span style="font-family: fontThanhHai; margin-top:10px">
                        <a style="text-decoration:none; color: gray" href="/products/index?SortColumn=GiaTang">Giá tăng dần</a>

                    </span>
                    <span style="font-family: fontThanhHai;  margin-top: 10px">
                        <a style="text-decoration: none; color: gray" href="/products/index?SortColumn=GiaGiam">Giá giảm dần</a>

                    </span>
                    <span style="font-family: fontThanhHai; margin-top: 10px">
                        <a style="text-decoration: none; color: gray" href="/products/index?SortColumn=AtoZ">Từ A -> Z</a>

                    </span>
                    <span style="font-family: fontThanhHai;  margin-top: 10px">
                        <a style="text-decoration: none; color: gray" href="/products/index?SortColumn=ZtoA">Từ Z đến A</a>

                    </span>
                </div>
                <h3 style="font-family: fontThanhHai;  margin-top:20px">Loại sản phẩm</h3>
                <div style="font-family: fontThanhHai">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lựa chọn
                        </button>
                        <ul class="dropdown-menu text-start">
                            <li>
                                <a class="dropdown-item" style="text-decoration:none" href="/products/index?SortColumn=AOSOMI">Áo sơ mi</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=AOPOLO">Áo polo</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=AtoZ">Áo nỉ</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Quần</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Giày</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Balo</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Áo phông</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Áo len</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Áo khoác</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Quần sort</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Túi ví</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Vali kéo</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=ZtoA">Phụ kiện</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <h3 style="font-family: fontThanhHai;  margin-top:20px">Loại quần áo</h3>
                <div style="font-family: fontThanhHai">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lựa chọn
                        </button>
                        <ul class="dropdown-menu text-start">
                            <li>
                                <a class="dropdown-item" style="text-decoration:none" href="/products/index?SortColumn=DANHCHONAM">Dành cho nam</a>
                            </li>
                            <li>
                                <a class="dropdown-item" style="text-decoration: none" href="/products/index?SortColumn=DANHCHONU">Dành cho nữ</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div style="height: 7vh; width: 100%; display: flex; justify-content:start; align-items: center">
                        <div>SẢN PHẨM</div>

                    </div>
                    <div style="width:100%; height:3px;background-color:gray"></div>
                    <div class="row row-cols-3">
                        @foreach (var item in Model)
                        {

                            <div class="col" style="height:46vh">
                                <div class="card" style="width: 15rem;border:none">

                                    <div class="card-body" style="width:100%; height:27vh">
                                        <img src="~/Content/Images/products/@item.Image1" class="card-img-top" alt="..." style="width: 70%;height:20vh">

                                        <h5 class="card-title" style="width: 100%; height: 10vh; font-family: fontThanhHai">
                                            @item.NameProduct
                                        </h5>
                                        <p class="card-text">@item.Price.Value.ToString("C")</p>
                                        <a href="/Products/Detail/@item.ProductID" class="btn btn-secondary">XEM CHI TIẾT</a>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>
<td colspan="9">
    <ul class="pagination justify-content-center " style="margin-left:30vh; margin-top:-5vh">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 0; i < ViewBag.noOfPages; i++)
        {
            <li class="page-item"><a class="page-link" href="/products/index?page=@(i+1)">@(i+1)</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</td>
   

